.card__container {
  margin: -15px;
  padding-top: 80px;
  border-bottom: 0.1rem solid #f0f0f0;
  position: relative;

  .card__img {
    width: 350px;
    display: block;
  }
}
.card__favorites-list {
 position: absolute;
    top: 83px;
    left: 3px;
    cursor: pointer;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .product__name {
    color: #222;
    text-transform: uppercase;
    line-height: 1.2;
    display: block;
    margin-bottom: 5px;
  }

  .product_appointment {
    color: #222;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 5px;
  }

  .product__price {
    font-weight: 500;
  }

  .product__btn {
    font-size: 15px;
    border: 2px solid #000;
    display: inline-block;
    padding: 10px 18px;
    line-height: 17px;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 25px;

  }
}
.favorite svg path {
  fill: grey;
}