.modal-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  
}
.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
}

.modal-header-text {
    color: rgb(6, 99, 120);
    margin-bottom: 25px;
}

.modal-close-btn {
    position: absolute;
    right: 4px;
    top: 4px;;
    display: inline-flex;
    background-color:rgb(68, 198, 224);
    border: none;
    border-radius: 2px;
    padding: 12px;
}

.modal-text {
    font-size: 36px;   
    line-height: 60px; 
    font-weight: 700;
    color: rgb(68, 198, 224);
}

.modal-btn {
    margin-top: 25px;

}

