.footer {
  background-color: rgba(0, 0, 0, 1);
  text-align: center;

  &__title-main {
    color: #fefefe;
    padding-top: 66px;
    margin-bottom: 22px;
  }

  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $secondary-text-color;
    margin-bottom: 37px;
  }

  &__icons {
    margin-bottom: 34px;
  }
  &__link {
    padding-bottom: 70px;
  }
  &__link a {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 569px) {
    padding-bottom: 20px;
    margin-left: 32px;
    }
    color: $secondary-text-color;
  }
  &__img {
  }

  &__info {
  }
  .footer__link span {
    @include span;
  }
}
