.container {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
  @media screen and (max-width: 768px) {
    padding: 0 10px;
  }
}
.menu-wrapp {
  margin: 29px 0px;

  .menu {
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  .menu__list {
    @include flex-centre;
    gap: 68px;
    margin-bottom: 14px;
    @media screen and (max-width: 1000px) {
      gap: 34px;
      margin-bottom: 28px;
    }
    @media screen and (max-width: 768px) {
      display: block;
      position: absolute;
      width: 182px;
      right: 10px;
      top: 70px;
      z-index: 10;
      background-color: #f5f5f5;
    }
  }

  .menu__item {
    @include item;
    @media screen and (max-width: 768px) {
      padding: 10px 10px 2px 10px;
      &:hover {
        background: #e5e5e5;
      }
    }
  }

  .menu__link {
    color: $text-color;
    &:hover {
      color: #57a4a4;
    }
  }
}

.header__img img {
  max-width: 100%;
  height: auto;
}
.burgere-wrapp {
  display: flex;
  flex-direction: column;
}
.burger-block {
  display: flex;
  justify-content: end;
}
.burger-menu {
  width: 44px;
  height: 37px;
  background: black;
  position: relative;
  justify-content: center;
  align-items: center;
  display: none;
  margin-bottom: 23px;
  margin-left: auto;
  @media screen and (max-width: 767px) {
    display: flex;
  }
}
.burger-span {
  width: 17px;
  height: 2px;
  background: white;
}
.burger-span::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 17px;
  height: 2px;
  background: rgb(255, 255, 255);
}
.burger-span::before {
  content: "";
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 17px;
  height: 2px;
  background: rgb(255, 255, 255);
}
.menu-open .burger-span {
  background-color: transparent;
}
.menu-open .burger-span::before {
  transform: rotate(45deg);
  top: 17px;
  left: 12px;
}
.menu-open .burger-span::after {
  transform: rotate(135deg);
  top: 17px;
  left: 12px;
}

.hide {
  display: none}
