
.instashot {
    background-color: rgb(245, 244, 244);
    // width: 100%;
  &__text {
    padding-top: 47px;
    display: flex;
    margin-bottom: 25px;
  }

  &__title-main {
  }

  &__link {
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: $text-color;
    margin-left: auto;
    @media screen and (max-width: 570px) {
      display: none;
  }
  }
  &__post {
    display: flex;
   gap: 9px;
    padding-bottom: 49px;
    justify-content: center;
  }
  &__img--4 {
    @media screen and (max-width: 1180px) {
      display: none;
    }
  }
  &__img--2 {
    @media screen and (max-width: 570px) {
      display: none;
    }
  }
}
