
.section-post {
  &__title-main {
    margin-top: 86px;
    margin-bottom: 24px;
  }

  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 69px;
    @media screen and (max-width: 950px) {
      grid-template-columns: 1fr;
    }
    
  }

  &__content {
    // @include flex-centre;
    display: flex;
    @media screen and (max-width: 564px){
        display: block;
        
    }
  }

  &__img--4 {
    @media screen and (max-width: 1180px){
        display: none;
        
    }
  }

  &__desc {
 padding-left: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: $text-color;
  }

  &__comment {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #7c7c7c;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #5c5c5c;
    @media screen and (max-width: 935px){
        max-width: 400px;
    }
    @media screen and (max-width: 564px){
        display: none;
        
    }
  }
}
.section-post__comment span {
  @include span;
}


.section-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $text-color;
}
