@mixin flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin span {
    padding-left: 15px;
    padding-right: 15px;
}
@mixin item {
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}