.btn{
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    height: 45px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.btn-wrapper{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.btn-open{
    margin-right: 50px;
    padding: 9px;
}
.hidden {
    display: none;
  }