body {
font-family: 'Ubuntu';
font-style: normal;
background: url("../img/background.png") no-repeat center / cover  ;
height: 100vh;
}

/*header*/
.header-container {
position: absolute;
width: 100vw;
margin-left: calc(50% - 50vw);
mix-blend-mode: normal;
background-color: rgba(0, 0, 0, 0.41); 
}

.menu {
    display: flex;
    justify-content: flex-start;
    margin-top: 18px;
    margin-bottom: 17px;
}

a.logo {
   color: #FFFFFF;
   text-decoration: none;

}
a.logo:hover{ 
    color: #3CB878;
}

.logo {
font-weight: 700;
font-size: 22px;
line-height: 22px;
margin-left: 79px;
margin-right: 701px;
}

/*header-icon*/
.header-icons {
    display: flex;
margin-right: 48px;


}
.header-icons-calendar {
    padding-left: 3px;
    padding-right: 27px;
}
.header-icons-calendar:hover .header-icons-calendar-default  {
    display: none;
}

.header-icons-calendar-hover {
    display: none;
}

.header-icons-calendar:hover .header-icons-calendar-hover {
display: block;
}

.header-icons-mail {
padding-right: 24px;

}

.header-icons-mail:hover .header-icons-mail-defult {
    display: none;
}

.header-icons-mail-hover {
    display: none;
}

.header-icons-mail:hover .header-icons-mail-hover {
    display: block;
}

.header-icons-compass{
padding-right: 5px;
}

.header-icons-compass:hover .header-icons-compass-default {
display: none;
}

.header-icons-compass-hover {
    display: none;
}

.header-icons-compass:hover .header-icons-compass-hover {
    display: block;
}


.header-registration {
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #FFFFFF;
display: flex;
align-items: center;
margin-right: 79px;
padding-left: 31px;
border-left: 1px solid rgba(255, 255, 255, 0.5);


}

a.registration-link {
    color: #FFFFFF;
    text-decoration: none;
}

a.registration-link:hover {
    color: #3CB878;
}
.main-container {
    position: absolute;
    left: calc(50% - 444px/2);
top: calc(50% - 551px/2 + 35.5px);

    width: 444px;
    height: 600px;
    background-color:  #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.main-registration {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

.square {
    position: absolute;
    background: #3CB878;
    width: 18px;
height: 18px;
margin-top: 31px;


}

.sign-up {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
   margin-top: 31px;
   margin-right: 216px;
   margin-left: 60px;
    color: #434343;
    
}

.log-in {
    width: 39px;
height: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 33px;
    margin-right: 59px;
    color: #3CB878;
}
.log-in:hover {
    text-decoration-line: underline;
    color: #01813F;

}
.main-btn {

}

.facebook-btn {
background-image: url(../img/icons/facebook.png);
background-repeat: no-repeat;
background-position: 12px;
background-color: rgba(48, 93, 184, 1);
border: none;
width: 160px;
height: 48px;
font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
padding: 17px 22px 17px 67px ;
border-radius: 3px;
margin-left: 60px;
margin-right: 6px;
cursor: pointer;
}
.facebook-btn:hover{
    background-color: #022263;
}
.google-btn {
    background-image: url(../img/icons/google.png);
    background-repeat: no-repeat;
    background-position: 12px;
    background-color: rgba(223, 74, 50, 1);
    border: none;
    /*border-left: 1px solid rgba(10, 22, 47, 0.1);*/
    width: 160px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 17px 22px 17px 67px ;
    border-radius: 3px;
  cursor: pointer;
}
.google-btn:hover {
    background-color: #AB1F09;
}
.partition {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
   text-align: center;
    margin-top: 34px;
    color: #848484;
    margin-bottom: 12px;
}

.sign-in-input {
    width: 324px;
    height: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #434343;
    padding-left: 20px;
 
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-left: 60px;
}

.sign-in-input:hover {
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border: none;
    cursor: text;
    
}
/*checkbox*/
.custom-checkbox {
    display: flex;
    position: relative;
  }
  
  .custom-checkbox-block {
    width: 20px;
    height: 20px;
    
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #F2F2F2;
    margin-right: 8px;
    margin-left: 60px;
    margin-bottom: 20px;
  }
  
  .checkbox-default {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }
  
  .checkbox-default:checked + .custom-checkbox-block {
    background-image: url("../img/icons/checkbox.svg") ;
    background-repeat: no-repeat;
    background-position: center;
  }


 .checkbox-text {
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #434343;
margin-top: 6px;
 }

 a.checkbox-link {
color: #3CB878;

 }
 a.checkbox-link:hover {
    color: #01813F;
    text-decoration: underline;
 }
 
/*btn*/
.sign-in-btn {
    width: 324px;
    height: 46px;
    border: none;
    background: rgba(60, 184, 120, 0.8);
border-radius: 4px;
font-weight: 400;
font-size: 16px;
line-height: 16px;
align-items: center;
color: #FFFFFF;
cursor: pointer;
margin-left: 60px;
} 
.sign-in-btn:hover{
    background: #01813F;
}