
.post {
    background-color: rgb(85, 82, 82);
    color: aliceblue;
    padding-left: 130px;
    padding-bottom: 0px;
    margin-bottom: 25px;
}
.user {
    display: flex;
 
}
.name {
    margin-right: 20px;
}
.email {
    margin-top: 0;
}
.username {
    margin-top: 20px;

}
.title-post {
}
.post-text {
}
.delete-btn {
    margin-left: -70px;
}
