.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu-link {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    letter-spacing: 2.7px;
    text-decoration: none;
    color: #FF0000;;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
}

.home {
    margin-left: 330px;
    margin-right: 72px;
}

.photoapp {
    margin-right: 72px;
}

.design {
    margin-right: 50px;
}

.download {
    margin-right: 330px;
}

.photo {
     margin-top: 25.5px;
     margin-bottom: 49px;
     width: 100%;
}

.title {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     font-size: 22px;
     line-height: 27px;
     letter-spacing: 3.3px;
     text-align: center;
     color: #373737;

     margin-top: 863,5px;
     margin-left: 253px;
     margin-right: 253px;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;

    margin-top: 38px;
    margin-bottom: 28px;
    margin-left: 67.5px;
    margin-right: 67.5px;
 
}
.button{
    width: 191px;
    height: 51px; 
    background-color: #FF0000;
    border-radius: 4px;
     

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.8px;
    color: #FFFFFF;

    margin-top: 66px;
    margin-bottom: 82px;
    margin-left: 544.5px;
    margin-right: 544.5px;
}
.btn {
    text-align: center;
}
.footer {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-align: right;
    color: #373737;

    margin-bottom: 29px;
    margin-left: 713px;
    margin-right: 105px;
}