body {
  width: 1028px;
  background-image: url(../img/background.png) ;
  background-repeat: no-repeat;
background-size: cover;
background-position: center;
  height: 100vh;
}


a:hover {
  color: #f26522;
}

a {
  text-decoration: none !important;
  text-decoration-line: none;
}

.menu {
 
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.logo {
  font-family: "Roboto", sans-serif;
height: 51px;
  display: flex;
  color: #ffffff;
  font-weight: 700;
  margin-left: 161px;
  margin-top: 51px;
}

.logo-img {
  width: 
  53px;
  margin-right: 8px;
}

.logo-text {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  line-height: 29px;
  margin-bottom: 22px;
}

.logo:hover .logo-img {
display: none;
}

.logo-img-hover {
display: none;
}

.logo:hover .logo-img-hover {
display: block;
}

.logo-text span {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;
}

.tel {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-right: 117px;
  margin-left: 608px;
  margin-top: 46px;
  margin-bottom: 19px;
}

.mail {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-left: 681px;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  margin-top: 49px;
  margin-left: 530px;
  margin-bottom: 15px;
}
.badge-list {

  position: absolute;
  margin-top: 142px;
  margin-left: auto;
}
.badge {
  display: flex;
  flex-direction: column;
box-sizing: border-box;
  background: #f26522;
 
}


.badge-list {
  display: none;
}

.badge-more span {
margin-left: 16px;
}

.main-items:hover .badge-list{
display: block;
}


.badge-decs {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;

  color: #ffffff;
  padding-top: 7px;
  padding-left: 16px;
  padding-bottom: 8px;
}

.badge-price {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 12px;

  color: #ffffff;
  padding-left: 16px;
  padding-right: 128px;
  margin-bottom: 12px;
}

.badge-more {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 12px;

  color: #ffffff;
  padding-right: 46px;
  margin-bottom: 12px;
}

.price {
  display: flex;
}

.main-items {
  width: 100%;
  margin-left: 159px;

  
}
.main-list-item {
  width: 300px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
}

.main-list-item img {
  margin-bottom: 20px;
}

.list-item-text {
  font-family: "Roboto", sans-serif;
font-weight: 400;
  font-size: 18px;
  line-height: 18px;
 display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
  margin-bottom: 37px;
}