html, body {
  background-color: rgb(255, 255, 255);
}

html.dark, .dark body {

  background: rgb(41, 40, 40);
  color: #fff;
}

a {
  text-decoration: none;
  color: #000000;
}
.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.head-container {
  margin-bottom: 49px;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;

  margin-bottom: 40px;
  margin-top: 63px;
}
.dark .title {
  color: #ffffff;
}
.title-color {
  color: #4bcaff;
}

.menu-header {
  background-color: #35444f;
  margin-bottom: 40px;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  padding-top: 24px;
  padding-bottom: 18px;
}
.head-text1 {
  border-left: 1px solid #ffffff;
  padding-left: 32px;
  padding-right: 32px;
}

.head-text2 {
  border-left: 1px solid #ffffff;
 
  padding-left: 38px;
  padding-right: 38px;
}

.head-text3 {
  border-left: 1px solid #ffffff;

  padding-left: 40px;
  padding-right: 40px;
}

.head-text4 {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;

  padding-left: 40px;
  padding-right: 18x;
}

.aside {
  display: flex;
  justify-content: left;
}

.menu-aside {
  border: 1px solid #000000;
  width: 344px;
}
.dark .menu-aside {
  border: 1px solid #ffffff;
}
.aside-menu-list {
  padding-left: 40px;
}

.aside-menu-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  display: flex;
  align-items: center;
}
.dark .aside-menu-item {
  color: #ffffff;
}
.aside-text1 {
  padding-top: 26px;
}

.aside-text2 {
  padding-top: 52px;
}

.aside-text3 {
  padding-top: 52px;
  padding-bottom: 30px;
}

.main {
 display: flex;
 flex-direction: row;
}
.main-content {
  margin-left: 52px;
}

.img {

  border: 1px solid #000000;
  padding: 75px 268px 73px 297px;
}
.dark .img {
  border: 1px solid #ffffff;
}

.main-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  display: flex;
  align-items: center;
}
.dark .main-text {
  color: #ffffff;
}
.main-text1 {
  display: flex;
  justify-content: space-between;
  padding-top: 37px;
}

.main-text2 {
  padding-top: 34px;
  padding-bottom: 54px;
}



.menu-footer {
  height: 69px;
  background: rgba(99, 105, 110, 0.48);
}

.footer-menu-list {
  display: flex;
  align-items: center;
  
}
.footer-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
  display: inline;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 21px;
}
.dark .footer-item {
  color: #ffffff;
}
.footer-desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
 
  color: #010101;
  padding-left: 1050px;

}
.dark .footer-desc{
  color: #ffffff;
}
.change-theme-btn {
background-color: #4bcaff;
border: none;
width: 160px;
height: 48px;
font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
margin-bottom: 15px;
border-radius: 3px;
margin-left: 100px;

cursor: pointer;
}
