body {
  background-color: #1b1b1b;
  width: 1920px;

}
footer {
  background: #0e0e0e;
}

a {
  text-decoration-line: none;
}

/*header*/

.head-container {
  display: flex;
}
.menu-list {
  overflow: hidden;
}

.logo {
  margin: 40px 1026px 128px 230px;
}

.head-btn {
  padding: 10px 25px;
  margin-right: 230px;
  margin-top: 37px;
  box-sizing: border-box;
  border: 1px solid #e4b564;
  background: none;

  height: 50px;
  display: flex;

  align-items: center;
  white-space: nowrap;
}

.head-btn-text {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  padding-left: 10.04px;
}

/*main*/

.section1 {
  margin-right: 230px;
  margin-left: 230px;
  margin-bottom: 161px;
}

.main-sec-title {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 41px;
}

.main-sec-text {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  width: 1182px;
}

/*grid*/

.grid-section-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 34px;

  margin-top: 41px;
}

.grid-decs {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.grid-item-1 {
  background: #634f2c;
  /*
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;*/
}

.grid-item-2 {
  background: #b4a385;
  /*
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;*/
}

.grid-item-3 {
  background: #e4b564;
  /*
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 4;*/
}

.grid-section-2 {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  margin-top: 27px;
}

.grid-item-4 {
  background: #635a4a;

  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;
}

.grid-item-5 {
  background: #b08c4d;

  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;
}

.grid-text1 {
  padding: 220px 148px 220px 149px;
}
.grid-text2 {
  padding: 206px 43px 206px 42px;
}
.grid-text3 {
  padding: 220px 140px 220px 141px;
}
.grid-text4 {
  padding: 220px 163px 220px 162px;
}
.grid-text5 {
  padding: 220px 237px 220px 237px;
}

.sec-bloks {
  display: flex;
}

.sec2-title {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 94px;
  margin-top: 161px;
}

.sec2-list {
}

.sec2-item {
  width: 467px;
  font-family: "Gilam";
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  box-sizing: border-box;
}

.sec2-blok1 {
  height: 313px;
  font-weight: 400;
  color: #ffffff;
  background: #0e0e0e;

  padding: 44px 113px 219px 52px;
  margin-right: 30px;
  margin-bottom: 24px;
}

.sec2-blok2 {
  height: 560px;
  font-weight: 400;
  color: #ffffff;
  background: #1f1f1f;

  padding: 56px 113px 479px 52px;
  margin-right: 29px;
  margin-bottom: 191px;
}

.sec2-blok3 {
  height: 439px;
  font-weight: 500;
  color: #ffffff;
  background: #242424;

  padding: 44px 114px 345px 51px;
  margin-right: 29px;
  margin-bottom: 33px;
}

.sec2-blok4 {
  height: 405px;
  font-weight: 500;
  color: #000000;
  background: #e4b564;

  padding: 47px 113px 333px 52px;
  margin-right: 30px;
  margin-bottom: 211px;
}

.sec2-blok5 {
  height: 255px;
  font-weight: 500;
  color: #ffffff;
  background: #1f1f1f;

  padding: 44px 117px 186px 48px;

  margin-right: 230px;
  margin-bottom: 26px;
}

.sec2-blok6 {
  height: 313px;
  font-weight: 500;
  color: #ffffff;
  background: #0e0e0e;

  padding: 44px 117px 244px 48px;
 
}

.sec2-blok7 {
  height: 277px;
  font-weight: 700;
  color: #ffffff;
  background: #0a0909;

  padding: 44px 117px 208px 48px;
  margin-bottom: 191px;
}

.fotter-title {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  
  margin-top: 172px;
  margin-left: 228px;
  margin-right: 723px;
}

.footer-btn {
font-family: 'Circe';
font-style: normal;
font-weight: 400;
font-size: 18px;
height: 50px;
line-height: 30px;
color: #E4B564;
border: 1px solid #E4B564;
background: none;
padding: 10px 40px ;
margin-top: 172px;

}

.footer-container {
display: flex;

margin-bottom: 172px;
}

.footer-grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  margin-left: 230px;
  margin-right: 230px;
}


.footer-grid-item1 {
  background: #634F2C;

padding: 171px 151px;
}

.footer-grid-item2 {
display: flex;
flex-direction: column;
background: rgba(232, 210, 171, 0.76);
}

.footer-grid-item2 p { 
font-family: 'Gilam';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
padding-left: 80px;
padding-bottom: 61px;

}

.footer-grid-item2-img1{
  padding-left: 217px;
  padding-top: 61px;
  width: 62px;

}
.footer-grid-item2-img2 {
  width: 139px;
  padding-left: 173px;
  padding-top: 3px;
  padding-bottom: 16px;
}

.footer-grid-item3 {
  background: #E4B564;
padding: 175px 149px;
}

.footer-grid-item4 {
  background: #635A4A;
  padding: 175px 149px;
}

.footer-grid-item5 {
  background: #B08C4D;
  padding: 169px 183px;
}

.footer-grid-item6 {
  background: #634F2C;
  padding: 171px 151px;
}
