.container {
   display: flex;
   justify-content: center;
}
.findIp {

    background-color: aqua;
    padding: 25px;
    border-radius: 5%;
    color: black;
    font-weight: 700;
}
.info {
    
}
.ip-info {
    display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
